
<section class="x-contact-form__container">
    <form name="api_form" id="api_form" class="x-contact-form js--contact-form"  >
        <h2 class="x-contact-form__title">
            FORMULARIO
        </h2>


         <div class="x-form__group">
            <div class="x-form__group-left">
                <label for="ruta">RUTA</label>
                <select name="ruta" id="ruta">
                    <option value="login">Login</option>
                    <option value="registro">Registro</option>
                    <option value="data">Data</option>
                    <option value="file">File</option>
                </select>
            </div>
            
            <div class="x-form__group-right">
                <label for="ruta">METODO</label>
                <div class="x-form__radio-group" id="opcMetodos"> </div>
            </div>               
        </div>
        <div class="x-contact-form__content dinamic"></div>
        <div class="x-contact-form__send">
            <div class="x-contact-form__send-right">
                <input type="submit" value="ENVIAR" class="x-form__submit js--contact-form-submit" />
            </div>
        </div>
     
    </form>


</section>
